<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="automata" type="Automata.Configuration.ConfigurationHandler, Automata" />
  </configSections>

  <automata>
    <param name="PollingInSeconds" value="1" />
    
    <taskgroups>
      
      <taskgroup name="HR" logsink="console" active="true">
        <task name="Test1" type="Automations.ConsoleTestTask, Automations" active="true">
          <param name="num" value="1111" />
        </task>
        <task name="Test2" type="Automations.ConsoleTestTask2, Automations" active="true">
          <param name="num" value="2222" />
        </task>
        <task name="Test3" type="Automations.ConsoleTestTask, Automations" active="true">
          <param name="num" value="3333" />
        </task>
      </taskgroup>
      
      <taskgroup name="Accounting" logsink="console" active="true">
        <task name="Test4" type="Automations.ConsoleTestTask, Automations" active="true">
          <param name="num" value="4444" />
        </task>
        <task name="Test5" type="Automations.ConsoleTestTask2, Automations" active="true">
          <param name="num" value="5555" />
        </task>
      </taskgroup>

      <!--      
      <taskgroup name="it" logsink="eventLog" active="true">
        <task name="null3" type="Automations.NullTask, Automations" active="true"/>
      </taskgroup>    
      <taskgroup name="hr" logsink="eventLog" active="false">
        <task name="null4" type="Automations.NullTask, Automations" active="true"/>
      </taskgroup>    
      <taskgroup name="reception" logsink="eventLog" active="true">
        <task name="null4" type="Automations.NullTask, Automations" active="false"/>
      </taskgroup>    
// -->
    </taskgroups>

    <logsinks>
      <logsink name="console" type="LogSinks.ConsoleWindow, LogSinks" />
      
<!--      
      <logsink name="eventLog" type="LogSinks.EventLog, LogSinks">
        <param name="log" value="testing" />
      </logsink>
//-->
    </logsinks>
      
  </automata>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>


</configuration>
