<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="automata" type="Automata.Configuration.ConfigurationHandler, Automata" />
  </configSections>

  <automata>
    <param name="PollingInSeconds" value="5" />
    
    <taskgroups>
      <taskgroup name="accounting" logsink="console" active="true">
        <task name="null1" type="Automations.NullTask, Automations" active="true"/>
        <task name="null2" type="Automations.NullTask, Automations" active="true"/>
      </taskgroup>
      <taskgroup name="it" logsink="eventLog" active="true">
        <task name="null3" type="Automations.NullTask, Automations" active="true"/>
      </taskgroup>    
      <taskgroup name="hr" logsink="eventLog" active="false">
        <task name="null4" type="Automations.NullTask, Automations" active="true"/>
      </taskgroup>    
      <taskgroup name="reception" logsink="eventLog" active="true">
        <task name="null4" type="Automations.NullTask, Automations" active="false"/>
      </taskgroup>    
    </taskgroups>

    <logsinks>
      <logsink name="console" type="LogSinks.ConsoleWindow, LogSinks" />
      <logsink name="eventLog" type="LogSinks.EventLog, LogSinks">
        <param name="log" value="testing" />
      </logsink>
    </logsinks>
      
  </automata>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>


</configuration>
